@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Tenor+Sans&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import "tailwindcss";


@theme {
   --font-berkshire-swash: "Berkshire Swash", serif;
   --font-merriweather: "Merriweather Sans", sans-serif;
   --font-cinzel: "Cinzel", serif;
   --font-manrope: "Manrope", sans-serif;
   --font-quicksand: "Quicksand", sans-serif;
  --font-source-sans: "Source Sans 3", sans-serif;
}  

/* Infinite smooth scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-container {
  display: flex;
  width: 200%;
  animation: scroll 40s linear infinite;
  white-space: nowrap;
}



/* Wave effect */
@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.wave-border::before,
.wave-border::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 15px;
  background: url("data:image/svg+xml,%3Csvg width='1440' height='50' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0,30 C120,10 240,50 360,30 C480,10 600,50 720,30 C840,10 960,50 1080,30 C1200,10 1320,50 1440,30 L1440,50 L0,50 Z' fill='%23FEF7F0'/%3E%3C/svg%3E") repeat-x;
  background-size: contain;
  animation: wave 8s linear infinite;
}

.wave-border::before {
  top: 0;
  transform: rotate(180deg);
}

.wave-border::after {
  bottom: 0;
} 

@keyframes slideInLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 2s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 2s ease-out forwards;
  animation-delay: 0.5s;
}
